<div class="tw-flex tw-items-center tw-justify-center tw-space-x-2 tw-text-lg">
  <div>
    Thời gian giữ ghế:
  </div>
  <div class="tw-font-bold tw-text-orange-brand">
    {{ minutes }}:{{ seconds < 10 ? '0' + seconds : seconds }}
  </div>
</div>
<div class="tw-bg-white tw-max-w-[400px] tw-rounded-xl tw-shadow-md  tw-mt-[5px] tw-h-auto">
  <div class="tw-h-1.5 tw-bg-orange tw-w-full tw-rounded-xl"></div>
  <div class="tw-flex tw-items-center">
    <img ngSrc="{{showTime?.movie?.imageLandscape}}"
         alt="Poster phim" class="tw-w-32 tw-rounded tw-m-[15px]">
    <div>
      <h2 class="tw-text-xl tw-font-bold tw-mt-[-95px]">{{ showTime?.movie?.name }}</h2>
      <div class="tw-flex tw-mt-[15px]">
        <p class="tw-text-lg">{{ showTime?.language }} - {{ showTime?.subtitle }} - {{ showTime?.screenFormat }}</p>
        <!--        <div class="tw-text-sm tw-bg-orange-brand tw-rounded tw-text-white tw-text-center tw-px-2 tw-py-1 inline-block">-->
        <!--          {{ showTime?.subtitle }}-->
        <!--        </div>-->
        <!--        <div class="tw-text-sm tw-bg-orange-brand tw-rounded tw-text-white tw-text-center tw-px-2 tw-py-1 inline-block">-->
        <!--          {{ showTime?.screenFormat }}-->
        <!--        </div>-->
      </div>
    </div>
  </div>
  <div class="tw-m-[15px]">
    <p class="tw-font-bold">
      {{ showTime?.cinemaHall?.cinema?.name }} – {{ showTime?.cinemaHall?.name }}
    </p>
    <div class="tw-flex">
      <p class="tw-text-lg">Suất:</p>
      <!-- Giờ -->
      <p class="tw-font-bold tw-text-lg tw-pl-1">
        {{ showTime?.showTime | date: 'HH:mm' }}
      </p>
      <!-- Thứ (tên ngày trong tuần) -->
      <p class="tw-text-lg tw-pl-1">
        {{ showTime?.showTime | date: 'EEEE' }},
      </p>
      <!-- Ngày/Tháng/Năm -->
      <p class="tw-font-bold tw-text-lg tw-pl-1">
        {{ showTime?.showTime | date: 'dd/MM/yyyy' }}
      </p>
    </div>
  </div>
  <hr class="tw-border-t tw-border-gray-400 tw-border-dashed">
  <div class="tw-m-[15px] tw-space-y-4">
    <!-- Ghế đơn -->
    <div class="tw-flex tw-justify-between tw-items-center">
      <div class="tw-flex tw-items-center">
        <span class="tw-text-lg tw-font-bold">x{{ numStandard }}</span>
        <span class="tw-text-lg tw-pl-1">Ghế đơn</span>
      </div>
      <span class="tw-text-lg tw-font-bold tw-text-black">
      {{ totalAmountStandard | number:'1.0-0' }}<span class="tw-underline">đ</span>
    </span>
    </div>

    <!-- Ghế đôi -->
    <div class="tw-flex tw-justify-between tw-items-center">
      <div class="tw-flex tw-items-center">
        <span class="tw-text-lg tw-font-bold">x{{ numCouple / 2 }}</span>
        <span class="tw-text-lg tw-pl-1">Ghế đôi</span>
      </div>
      <span class="tw-text-lg tw-font-bold tw-text-black">
      {{ totalAmountCouple | number:'1.0-0' }}<span class="tw-underline">đ</span>
    </span>
    </div>

    <!-- Danh sách ghế -->
    <div class="tw-flex tw-justify-between tw-items-start">
      <span class="tw-text-lg">Ghế:</span>
      <span class="tw-text-lg tw-font-bold tw-pl-1 tw-text-right">
      {{ labelsAll?.join(', ') }}
    </span>
    </div>
  </div>

  <hr class="tw-border-t tw-border-gray-400 tw-border-dashed">
  <div class="tw-flex tw-p-6 tw-justify-between tw-items-center">
    <span class="tw-font-bold">Tổng cộng:</span>
    <span class="tw-font-bold tw-text-orange">
    {{ totalAmount | number:'1.0-0' }}<span class="tw-underline">đ</span>
  </span>
  </div>

</div>
<div class="tw-flex tw-justify-end tw-space-x-4 tw-mt-3">
  <button class="tw-px-4 tw-py-2 tw-text-orange-brand tw-mr-8">Quay lại</button>
  <button class="tw-px-16 tw-py-2 tw-bg-orange-brand tw-text-white tw-rounded">Tiếp tục</button>
</div>
