<!-- home.component.html -->
<div class="home-container">
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let slide of slides">
        <img [src]="slide.img" alt="Slide" width="100%" height="auto" />
      </div>
    </div>
    <!-- Pagination và Navigation -->
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>

  <!-- Quick Booking Section -->

  <div class="tw-flex tw-items-center tw-gap-4 tw-bg-white tw-max-w-[1200px] tw-h-[48px] tw-my-[10px] tw-mx-auto tw-rounded-lg tw-shadow-md px-2">
    <!-- Step 1: Active -->
    <div class="tw-flex tw-items-center tw-gap-1 tw-text-[#333] tw-font-medium tw-mr-auto">
      <div class="tw-w-5 tw-h-5 tw-rounded-full tw-bg-orange-500 tw-text-white tw-text-xs tw-font-bold tw-flex tw-items-center tw-justify-center">1</div>
      <span class="tw-text-sm">Chọn Phim</span>
    </div>

    <!-- Step 2 -->
    <div class="tw-flex tw-items-center tw-gap-1 tw-text-[#bbb] tw-mr-auto">
      <div class="tw-w-5 tw-h-5 tw-rounded-full tw-bg-orange-500 tw-text-white tw-text-xs tw-font-bold tw-flex tw-items-center tw-justify-center">2</div>
      <span class="tw-text-sm">Chọn Rạp</span>
    </div>

    <!-- Step 3 -->
    <div class="tw-flex tw-items-center tw-gap-1 tw-text-[#bbb] tw-mr-auto">
      <div class="tw-w-5 tw-h-5 tw-rounded-full tw-bg-orange-500 tw-text-white tw-text-xs tw-font-bold tw-flex tw-items-center tw-justify-center">3</div>
      <span class="tw-text-sm">Chọn Ngày</span>
    </div>

    <!-- Step 4 -->
    <div class="tw-flex tw-items-center tw-gap-1 tw-text-[#bbb] tw-mr-auto">
      <div class="tw-w-5 tw-h-5 tw-rounded-full tw-bg-orange-500 tw-text-white tw-text-xs tw-font-bold tw-flex tw-items-center tw-justify-center">4</div>
      <span class="tw-text-sm">Chọn Suất</span>
    </div>

    <!-- Button -->
    <button class="tw-bg-[#fcae7a] tw-h-full tw-w-[180px] tw-text-[#555] tw-font-medium tw-text-base tw-rounded tw-cursor-pointer">
      Mua vé nhanh
    </button>
  </div>



  <div class="tw-flex tw-space-x-4 tw-mx-auto tw-max-w-[1200px] tw-p-30px tw-text-lg">
    <div class="tw-font-bold ">PHIM</div>
    <div class="tw-flex tw-space-x-4">
      <div
        class="tw-cursor-pointer"
        [ngClass]="{
      'tw-text-[#034ea2] tw-font-semibold': activeTab === 'dangChieu',
      'tw-text-[#777777]': activeTab !== 'dangChieu'
    }"
        (click)="activeTab = 'dangChieu'"
      >
    <span
      [ngClass]="{
        'tw-border-b-2 tw-border-[#034ea2] ': activeTab === 'dangChieu'
      }"
    >
      Đang chiếu
    </span>
      </div>
      <div
        class="tw-cursor-pointer"
        [ngClass]="{
      'tw-text-[#034ea2] tw-font-semibold': activeTab === 'sapChieu',
      'tw-text-[#777777]': activeTab !== 'sapChieu'
    }"
        (click)="activeTab = 'sapChieu'"
      >
    <span
      [ngClass]="{
        'tw-border-b-2 tw-border-[#034ea2] ': activeTab === 'sapChieu'
      }"
    >
      Sắp chiếu
    </span>
      </div>

      <div
        class="tw-cursor-pointer"
        [ngClass]="{
      'tw-text-[#034ea2] tw-font-semibold': activeTab === 'imax',
      'tw-text-[#777777]': activeTab !== 'imax'
    }"
        (click)="activeTab = 'imax'"
      >
    <span
      [ngClass]="{
        'tw-border-b-2 tw-border-[#034ea2] ': activeTab === 'imax'
      }"
    >
      Phim IMAX
    </span>
      </div>
    </div>
    <div class="tw-flex tw-items-center tw-text-[#034ea2]">
      <svg xmlns="http://www.w3.org/2000/svg" height="20" width="20" viewBox="0 0 512 512">
        <path fill="#034ea2"
              d="M256 0c17.7 0 32 14.3 32 32l0 34.7C368.4 80.1 431.9 143.6 445.3 224l34.7 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-34.7 0C431.9 368.4 368.4 431.9 288 445.3l0 34.7c0 17.7-14.3 32-32 32s-32-14.3-32-32l0-34.7C143.6 431.9 80.1 368.4 66.7 288L32 288c-17.7 0-32-14.3-32-32s14.3-32 32-32l34.7 0C80.1 143.6 143.6 80.1 224 66.7L224 32c0-17.7 14.3-32 32-32zM128 256a128 128 0 1 0 256 0 128 128 0 1 0 -256 0zm128-80a80 80 0 1 1 0 160 80 80 0 1 1 0-160z"/>
      </svg>
      <span class="tw-ml-2">Toàn quốc</span>
    </div>
  </div>

  <div class="tw-grid tw-grid-cols-[repeat(auto-fill,_minmax(250px,_1fr))] tw-gap-6 tw-max-w-screen-xl tw-px-6 tw-mx-auto sm:tw-grid-cols-1 md:tw-grid-cols-[repeat(auto-fill,_minmax(250px,_1fr))]">
    <div *ngFor="let movie of movies">
      <div (click)="goToDetail(movie)" class="tw-cursor-pointer">
        <app-movie-card [movie]="movie"></app-movie-card>
      </div>
    </div>
  </div>
  <div class="tw-flex tw-justify-center tw-gap-4 tw-mt-6">
    <button
      (click)="prevPage()"
      [disabled]="page <= 1"
      class="tw-px-4 tw-py-2 tw-bg-orange tw-text-white tw-rounded-md tw-shadow-md tw-transition
             hover:tw-bg-orange-brand tw-cursor-pointer"
    >
      Trước
    </button>
    <span class="tw-flex tw-items-center tw-font-medium">Trang {{page}}</span>
    <button
      (click)="nextPage()"
      [disabled]="!hasNextPage"
      class="tw-px-4 tw-py-2 tw-bg-orange tw-text-white tw-rounded-md tw-shadow-md tw-transition
           hover:tw-bg-orange-brand tw-cursor-pointer"
    >
      Sau
    </button>
  </div>
</div>
