<div class="movie-card tw-relative tw-w-[300px] tw-rounded-[12px] tw-overflow-hidden tw-cursor-pointer">
  <img
    src="/assets/images/movie.png"
    alt="Địa Đạo: Mặt Trời Trong Bóng Tối"
    class="tw-w-full tw-block tw-rounded-[12px] tw-transition-all tw-duration-300 tw-ease-in-out"
  />
  <div class="overlay">
    <div class="btn buy">
       Mua vé
    </div>
    <div class="btn trailer">
      Trailer
    </div>
  </div>
  <div class="rate tw-absolute tw-bottom-[50px] tw-right-2 tw-bg-black/70 tw-text-white tw-px-2 tw-py-1 tw-rounded-md tw-font-bold tw-text-base tw-z-10">
    8.7
  </div>
  <div class=" age tw-text-base tw-font-bold tw-absolute tw-bottom-2 tw-right-2 tw-bg-[#F58020] tw-text-white tw-px-2 tw-py-1 tw-rounded-md">T16</div>
</div>
<div class="tw-text-lg tw-font-bold tracking-wide ">Địa đạo mặt trời trong bóng tối</div>

