<div class="quick-booking">
  <div class="step" [class.active]="true">
    <div class="circle">1</div>
    <span>Chọn Phim</span>
  </div>
  <div class="step" [class.active]="false">
    <div class="circle">2</div>
    <span>Chọn Rạp</span>
  </div>
  <div class="step" [class.active]="false">
    <div class="circle">3</div>
    <span>Chọn Ngày</span>
  </div>
  <div class="step" [class.active]="false">
    <div class="circle">4</div>
    <span>Chọn Suất</span>
  </div>
  <button class="quick-buy">Mua vé nhanh</button>
</div>
