<body class="tw-bg-bg-light">
<!--naga-->
<nav class=" tw-bg-white tw-shadow-md tw-pt-4 tw-pb-4">
  <ul class="tw-flex tw-space-x-8 tw-justify-center">
    <li>
      <div class="tw-text-softBlue">Chọn phim / Rạp / Suất</div>
    </li>
    <li>
      <div class="tw-text-softBlue "> Chọn ghế </div>
    </li>
    <li>
      <div class="tw-text-softBlue ">Chọn thức ăn</div>
    </li>
    <li>
      <div href="" class="tw-text-deepBlue">Thanh toán</div>
    </li>
    <li>
      <div href="" class="tw-text-lightGray">Xác nhận</div>
    </li>
  </ul>
</nav>
<!--progress-->
<div class="tw-w-3/4 tw-h-1 tw-bg-[#ECEEF1] tw-rounded tw-ml-auto">
  <div class=" tw-w-[550px] tw-h-full tw-bg-[#034EA2] tw-rounded-l"></div>
</div>
<div class="tw-flex tw-max-w-[1250px] tw-mx-auto tw-justify-center tw-gap-6 ">
  <div class="tw-w-2/3 tw-mt-[15px] tw-bg-white tw-p-4">
    <div class="tw-font-bold tw-text-lg" >Khuyến mãi</div>
    <div class="tw-flex tw-items-center tw-space-x-2">
      <input type="text" placeholder="Mã khuyến mãi" class="tw-border tw-border-lightGray tw-rounded tw-p-2 ">
      <button class="tw-bg-orange tw-text-white tw-rounded tw-px-4 tw-py-2 hover:tw-bg-orange-brand">Áp Dụng</button>
    </div>
    <p class="tw-text-sm tw-mt-2">Lưu ý: Có thể áp dụng nhiều vouchers vào 1 lần thanh toán</p>
   <div class="tw-flex tw-text-center tw-items-center tw-space-x-2 " >
     <input type="radio" name="option" class="tw-w-4 tw-h-4  tw-rounded-full tw-border-2">
     <img src="https://cdn.galaxycine.vn/media/2021/12/2/download_1638460623615.png" class="tw-w-12 tw-h-auto">
     <div class="tw-text-md">Thanh toán VNpay</div>
   </div>
  </div>
  <!-- Thông tin phim -->
  <app-ticket-summary></app-ticket-summary>
</div>
</body>
