<nav
  class="md:tw-left-0 md:tw-block md:tw-fixed md:tw-top-0 md:tw-bottom-0 md:tw-overflow-y-auto
  md:tw-flex-row md:tw-flex-nowrap md:tw-overflow-hidden tw-shadow-xl
  tw-bg-white tw-flex tw-flex-wrap tw-items-center tw-justify-between
  tw-relative md:tw-w-42 tw-z-10 tw-py-4 tw-px-6"
>
  <div
    class="md:tw-flex-col md:tw-items-stretch md:tw-min-h-full md:tw-flex-nowrap tw-px-0 tw-flex tw-flex-wrap tw-items-center tw-justify-between tw-w-full tw-mx-auto"
  >
    <!-- Toggler -->
    <button
      class="tw-cursor-pointer tw-text-black tw-opacity-50 md:tw-hidden tw-px-3 tw-py-1 tw-text-xl tw-leading-none tw-bg-transparent tw-rounded tw-border tw-border-solid tw-border-transparent"
      type="button"
      (click)="toggleCollapseShow('tw-bg-white tw-m-2 tw-py-3 tw-px-6')"
    >
    </button>

    <a
      [routerLink]="['/']"
      class="md:tw-block tw-text-left md:tw-pb-2 text-blueGray-600 tw-mr-0 tw-inline-block tw-whitespace-nowrap tw-text-sm tw-uppercase tw-font-bold tw-p-4 tw-px-0"
    >
      <span class="tw-hidden sm:tw-block"> Admin </span>
    </a>

    <div
      class="md:tw-flex md:tw-flex-col md:tw-items-stretch md:tw-opacity-100 md:tw-relative md:tw-mt-4 md:tw-shadow-none tw-shadow tw-absolute tw-top-0 tw-left-0 tw-right-0 tw-z-40 tw-overflow-y-auto tw-overflow-x-hidden tw-h-auto tw-items-center tw-flex-1 tw-rounded"
      [ngClass]="collapseShow"
    >
      <div class="md:tw-min-w-full md:tw-hidden tw-block tw-pb-4 tw-mb-4 tw-border-b tw-border-solid tw-border-blueGray-200">
        <div class="tw-flex tw-flex-wrap">
          <div class="tw-w-6/12">
            <a
              [routerLink]="['/']"
              class="md:tw-block tw-text-left md:tw-pb-2 text-blueGray-600 tw-mr-0 tw-inline-block tw-whitespace-nowrap tw-text-sm tw-uppercase tw-font-bold tw-p-4 tw-px-0"
            >
              Admin
            </a>
          </div>
          <div class="tw-w-6/12 tw-flex tw-justify-end">
            <button
              type="button"
              class="tw-cursor-pointer tw-text-black tw-opacity-50 md:tw-hidden tw-px-3 tw-py-1
              tw-text-xl tw-leading-none tw-bg-transparent tw-rounded tw-border tw-border-solid
              tw-border-transparent"
            >
            </button>
          </div>
        </div>
      </div>

      <hr class="tw-my-4 md:tw-min-w-full" />
      <h6 class="md:tw-min-w-full text-blueGray-500 tw-text-xs tw-uppercase
      tw-font-bold tw-block tw-pt-1 tw-pb-4 tw-no-underline">
        Menu
      </h6>
      <ul class="md:tw-flex-col md:tw-min-w-full tw-flex tw-flex-col tw-list-none">
        <li class="tw-items-center">
          <a
            [routerLink]="['dashboard-management']"
            class="tw-text-xs tw-uppercase tw-py-3 tw-font-bold tw-block"
            routerLinkActive
            #adminDashboard="routerLinkActive"
            [ngClass]="
              adminDashboard.isActive
                 ? 'tw-text-orange hover:tw-text-orange-brand'
                : 'tw-text-black hover:tw-text-darkGray'
            "
          >
            Thống kê
          </a>
        </li>

        <li class="tw-items-center">
          <a
            [routerLink]="['user-management']"
            class="tw-text-xs tw-uppercase tw-py-3 tw-font-bold tw-block"
            routerLinkActive
            #adminSettings="routerLinkActive"
            [ngClass]="
              adminSettings.isActive
                ? 'tw-text-orange hover:tw-text-orange-brand'
                : 'tw-text-black hover:tw-text-darkGray'
            "
          >
            Người dùng
          </a>
        </li>

        <li class="tw-items-center">
          <a
            [routerLink]="['cinema-management']"
            class="tw-text-xs tw-uppercase tw-py-3 tw-font-bold tw-block"
            routerLinkActive
            #adminTables="routerLinkActive"
            [ngClass]="
              adminTables.isActive
                 ? 'tw-text-orange hover:tw-text-orange-brand'
                : 'tw-text-black hover:tw-text-darkGray'
            "
          >
            Rạp
          </a>
        </li>
        <li class="tw-items-center">
          <a
            [routerLink]="['category-management']"
            class="tw-text-xs tw-uppercase tw-py-3 tw-font-bold tw-block"
            routerLinkActive
            #adminCategory="routerLinkActive"
            [ngClass]="
              adminCategory.isActive
                 ? 'tw-text-orange hover:tw-text-orange-brand'
                : 'tw-text-black hover:tw-text-darkGray'
            "
          >
            Thể loại
          </a>
        </li>
        <li class="tw-items-center">
          <a
            [routerLink]="['movie-management']"
            class="tw-text-xs tw-uppercase tw-py-3 tw-font-bold tw-block"
            routerLinkActive
            #adminMaps="routerLinkActive"
            [ngClass]="
              adminMaps.isActive
                 ? 'tw-text-orange hover:tw-text-orange-brand'
                : 'tw-text-black hover:tw-text-darkGray'
            "
          >
            Phim
          </a>
        </li>
      </ul>

      <!-- Divider -->
      <hr class="tw-my-4 md:tw-min-w-full" />

      <!-- Heading -->
      <h6 class="md:tw-min-w-full text-blueGray-500 tw-text-xs tw-uppercase tw-font-bold tw-block tw-pt-1 tw-pb-4 tw-no-underline">
        Auth Layout Pages
      </h6>

      <!-- Navigation -->
      <ul class="md:tw-flex-col md:tw-min-w-full tw-flex tw-flex-col tw-list-none md:tw-mb-4">
        <li class="tw-items-center">
          <a
            [routerLink]="['/auth/login']"
            class="text-blueGray-700 hover:text-blueGray-500 tw-text-xs tw-uppercase tw-py-3 tw-font-bold tw-block"
          >
            <i class="fas fa-fingerprint text-blueGray-300 tw-mr-2 tw-text-sm"></i>
            Login
          </a>
        </li>
        <li class="tw-items-center">
          <a
            [routerLink]="['/auth/register']"
            class="text-blueGray-700 hover:text-blueGray-500 tw-text-xs tw-uppercase tw-py-3 tw-font-bold tw-block"
          >
            <i class="fas fa-clipboard-list text-blueGray-300 tw-mr-2 tw-text-sm"></i>
            Register
          </a>
        </li>
      </ul>

      <!-- Divider -->
      <hr class="tw-my-4 md:tw-min-w-full" />

      <!-- Heading -->
      <h6 class="md:tw-min-w-full text-blueGray-500 tw-text-xs tw-uppercase tw-font-bold tw-block tw-pt-1 tw-pb-4 tw-no-underline">
        No Layout Pages
      </h6>

      <!-- Navigation -->
      <ul class="md:tw-flex-col md:tw-min-w-full tw-flex tw-flex-col tw-list-none md:tw-mb-4">
        <li class="tw-items-center">
          <a
            [routerLink]="['/landing']"
            class="text-blueGray-700 hover:text-blueGray-500 tw-text-xs tw-uppercase tw-py-3 tw-font-bold tw-block"
          >
            <i class="fas fa-newspaper text-blueGray-300 tw-mr-2 tw-text-sm"></i>
            Landing Page
          </a>
        </li>
        <li class="tw-items-center">
          <a
            [routerLink]="['/profile']"
            class="text-blueGray-700 hover:text-blueGray-500 tw-text-xs tw-uppercase tw-py-3 tw-font-bold tw-block"
          >
            <i class="fas fa-user-circle text-blueGray-300 tw-mr-2 tw-text-sm"></i>
            Profile Page
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
